/* Global variables */
:root {
  --white: #fcfcff;
  --black: #47474b;
  --blue: #2626ff;
  --yellow: #ffe800;
  --orange: #ff9200;
  --footer-height: 200px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
